<div ng-controller="TodoCtrl">
  <div class="row">
  <h3 style="text-align:center">{{question}}</h3>

    <div class="col-md-4 col-md-offset-4">
        <div class="inputForm card" style="padding:20px;">
          <form ui-keypress="{13:'save($event)'}">
            <div class="input-field">
              <input id="name" type="text" ng-model="nameInput">
              <label for="name">Your name</label>
            </div>
            <div class="input-field">
              <input id="name" type="text" ng-model="answerInput">
              <label for="name">Your answer</label>
            </div>
            <button class="btn btn-green waves-effect waves-light" ng-click="save();" ng-disabled='nameInput == "" || answerInput == "" || nameInput == null || answerInput == null'>Answer
            </button>
          </form>
        </div>
    </div>
  </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-hide="loading">
          <hr/>
          <div class="card-panel" ng-hide="answers.length > 0">
            <span class="teal-text text-darken-2">No answers yet! Give your friends this link to get their answer:</span>
            <input id="name" type="text" ng-model="questionUrl">
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4" ng-show="answers.length > 0">
          <div id="answerPanel" class="card-panel">
            <table class="hoverable">
               <tr>
                 <th class="col-md-3">Name</th>
                 <th class="col-md-7">Answer</th>
                 <th class="col-md-2">Delete</th>
               </tr>
               <tr class="collection-item" ng-repeat="answer in answers">
                 <td class="col-md-3">
                     <span>{{answer.name}}</span>
                 </td>
                 <td class="col-md-7">
                     <span>{{answer.answer}}</span>
                 </td>
                 <td class="col-md-2">
                   <button class="btn btn-flat btn-red waves-effect waves-light" ng-click="delete($index)">x</button>
                 </td>
               </tr>
             </div>
            </table>
          </div>
        </div>
      </div>
    <div class="col-md-12" ng-show="loading">
      <div class="progress">
        <div class="indeterminate"></div>
        <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
