@font-face {
    font-family: lightFontTitle;
    src: url("AdventPro-Light.ttf");
}
@font-face {
    font-family: lightFontRegular;
    src: url("AdventPro-Regular.ttf");
}
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: sans-serif;
}

.myFooter {
    position:fixed;
    bottom:0;
    right:0;
}

h3 {
    font-family: lightFontTitle!important;
}
.strike span {
    text-decoration: line-through;
    color: #ccc;
}
.inputForm {
  text-align:center;
}
@media (max-width: 768px) {
    * {
    font-size: 20px;
    }
}
#answerPanel {
    padding:0px!important;
}

