<!DOCTYPE html>
<html ng-app="todoApp">

<head>
  <title>dotawhen</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factory.js"></script>
  <script type="text/javascript" src="/js/controllers.js"></script>
  <script type="text/javascript" src="/js/materialize.js"></script>

  <base href="/">
</head>

<body>
  <div class="container">
    <ng-view></ng-view>
  </div>

  <!-- Live reload script -->
  <!-- <script type="text/javascript" src="http://localhost:35729/livereload.js"></script> -->
</body>

</html>
